@import 'tailwindcss';

@font-face {
  font-family: 'LXGWWenKai';
  src: url('/fonts/LXGWWenKai-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LXGWWenKai';
  src: url('/fonts/LXGWWenKai-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root,
body {
  user-select: none;
  font-family: 'LXGWWenKai', 'PingFang SC', 'Noto Sans SC';
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* 自定义滚动条 */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* 纵向滚动条宽度 */
  height: 8px; /* 横向滚动条高度 */
}

/* 2. 轨道 (Track) - 保持透明或极简 */
.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

/* 3. 滑块 (Thumb) */
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); /* 柔和的灰色，带透明度 */
  border-radius: 20px; /* 完美的圆角 */
  border: 2px solid transparent; /* 技巧：配合 background-clip 使滑块看起来更瘦，产生边距感 */
  background-clip: content-box;
}

/* 4. 悬停时的滑块 (Hover) */
.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.8); /* 颜色加深 */
}

/* 5. 彻底隐藏按钮 (防止出现箭头) */
.scrollbar-custom::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
